<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<main>
    <th:block th:include="/_header"></th:block>
    <div class="container">
        <ul class="list-group" >
            <li th:each="a : ${AuthorList}" class="list-group-item list-group-item-default">
                <span th:text="${a.name}"></span>
                <form action="#" th:action="@{/authors}" th:object="${author_id}" method="post">
                    <input type="hidden" name="order_id" th:attr="value = ${a.getId()}"/>
                    <input type="submit" name="delete" value="Delete Author">
                </form>
            </li>
        </ul>
    </div>
</main>
</body>
</html>